@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap);
.container,
body {
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.name,
body {
  font-size: 30px;
}
.description,
body {
  font-family: "IBM Plex Sans", sans-serif !important;
}
.container,
.tools,
body {
  width: 100%;
}
body {
  background-image: url(https://i.postimg.cc/5bqpKjLx/photo-1546778316-dfda79f1c84e-q-80-w-2070-auto-format-fit-crop-ixlib-rb-4-0.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box,
.description,
.find-me,
.tools {
  align-self: center;
}
.name {
  color: #fff;
  margin-top: 2%;
  text-align: center;
  font-weight: 900;
  letter-spacing: 10px;
  padding: 0 100px;
}
.description,
.tools {
  color: #eee;
  opacity: 0.8;
  text-align: center;
}
.description {
  font-weight: 700;
  margin-top: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.find-me,
.tools {
  margin-top: 20px;
  display: flex;
}
.languages {
  flex: 1;
  min-height: 10vh;
  width: 50%;
}
.find-me {
  font-size: 70px;
  flex-direction: row;
  height: 70px;
}
.find-me a {
  color: #fff;
  transition: 0.5s;
}
.find-me a:hover {
  color: #000;
  opacity: 0.8;
  font-size: 100px;
  transition: 0.5s;
}
footer {
  font-size: 12px;
  color: #fff;
  margin-top: 30px;
  text-align: center;
}
footer #copyright {
  margin-top: 130px;
}
h1::selection {
  color: #222;
  background-color: #ff3;
}
::selection {
  color: #222;
  background-color: #fff;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width:100%;
  height:100%;
/*   background:#E91E63; */
  font-family: 'Roboto', sans-serif;
}

.text {
  position: absolute;
  top: 40%;
  left: 40%;
  color:white;
}

.words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  
  b {
  opacity:0;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  }
  
  .is-visible {
    position:relative;
    opacity:1;
    -webkit-animation: push-in 0.6s;
    -moz-animation: push-in 0.6s;
    animation: push-in 0.6s;
  }
  
  .is-hidden {
    -webkit-animation: push-out 0.6s;
    -moz-animation: push-out 0.6s;
    animation: push-out 0.6s;
  }
}

@-webkit-keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes push-in {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@-moz-keyframes push-out {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  60% {
    opacity: 0;
    -moz-transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
}
@keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@media only screen and (max-width: 480px) {
  .name {
    font-size: 20px;
    padding: 0 8px;
    letter-spacing: 3px;
  }
  .description {
    font-size: 16px;
  }
}
