@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap);
.container,
body {
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.name,
body {
  font-size: 30px;
}
.description,
body {
  font-family: "IBM Plex Sans", sans-serif !important;
}
.container,
.tools,
body {
  width: 100%;
}
body {
  background-image: url(https://res.cloudinary.com/dp0a9hsoi/image/upload/dpr_auto,f_auto,fl_aavif.awebp,q_auto/v1699505000/photo-1521907152322-60a3ab536b7a_mnzbbb.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box,
.description,
.find-me,
.tools {
  align-self: center;
}
.name {
  color: #fff;
  margin-top: 2%;
  text-align: center;
  font-weight: 900;
  letter-spacing: 10px;
  padding: 0 100px;
}
.description,
.tools {
  color: #eee;
  opacity: 0.8;
  text-align: center;
}
.description {
  font-weight: 700;
  margin-top: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.find-me,
.tools {
  margin-top: 20px;
  display: flex;
}
.languages {
  flex: 1;
  min-height: 10vh;
  width: 50%;
}
.find-me {
  font-size: 70px;
  flex-direction: row;
  height: 70px;
}
.find-me a {
  color: #fff;
  transition: 0.5s;
}
.find-me a:hover {
  color: #000;
  opacity: 0.8;
  font-size: 100px;
  transition: 0.5s;
}
footer {
  font-size: 12px;
  color: #fff;
  margin-top: 30px;
  text-align: center;
}
footer #copyright {
  margin-top: 130px;
}
h1::selection {
  color: #222;
  background-color: #ff3;
}
::selection {
  color: #222;
  background-color: #fff;
}
@media only screen and (max-width: 480px) {
  .name {
    font-size: 20px;
    padding: 0 8px;
    letter-spacing: 3px;
  }
  .description {
    font-size: 16px;
  }
}
